.text-center {
  text-align: center;
}

.flex {
  display: flex;
  padding: 5px;
}

li {
  list-style-type: none;
}

.justify-between {
  justify-content: space-around;
}

.flex img {
  width: 70%;
  height: 80%;
}
