.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

li {
  list-style-type: none;
  padding: 5px;
  margin: 0 10px;
  font-weight: 200;
}

a {
  text-decoration: none;
}

.justify-between {
  justify-content: space-around;
}

.flex img {
  width: 70%;
  height: 80%;
}

.formBox {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 5px;
}

.formBox textarea {
  width: 200px;
  height: 200px;
}
